.banner {
  background-image: linear-gradient(-200deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.45) 50%), url("../../images/background.jpeg");
  padding: 38px 0px;
  background-size: cover;
  background-position: center;
  color: rgb(252, 255, 217);
}

.banner h1{
  font-size: 65px;
}


.banner h2{
  font-size: 30px;
  font-weight: lighter;
  color: whitesmoke;
  opacity: 0.8;
  margin-bottom: 40px;
}
